/* ========================================
   NAVBAR
======================================== */

.navbar {
    width: 100%;
    height: 90px;

    background: #FFFFFF;

    display: flex;
    align-items: center;
}

.navbar-container {
    width: min(90%, 1200px);
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo img {
    display: block;

    width: 110px;
    height: auto;
}

.navbar-menu {
    display: flex;
    align-items: center;
    gap: 36px;
}

.navbar-menu a {
    position: relative;

    font-size: 15px;
    font-weight: 500;

    color: #111111;

    transition: color 0.3s ease;
}

.navbar-menu a:hover {
    color: #EB1E25;
}

.navbar-menu a::after {
    content: "";

    position: absolute;

    left: 0;
    bottom: -7px;

    width: 0;
    height: 2px;

    background: #EB1E25;

    transition: width 0.3s ease;
}

.navbar-menu a:hover::after {
    width: 100%;
}